/* Add Custome Font Here */
/* @font-face ??? */
/* Specify a custom font */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "Game Of Squids";
  src: url("./assets/Game Of Squids.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

main {
 display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

#homePage {
  height: 100vh;
  width: 100vw;
  color: white;
  background: url("/images/gamer.gif") black center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  position: relative;
}

.footerNav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}
#homeNav {
  /* font-family:'Courier New', Courier, monospace; */
  font-family: "Game Of Squids", Arial, sans-serif;
  font-size: 2em;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: rgb(0, 98, 128);
  margin: 0;
  padding: 0;
  opacity: 0.9;
  box-shadow: 0px -2px 10px rgb(240, 110, 240);
  text-shadow: 6px 2px 5px rgb(98, 11, 124);
}

li {
  list-style-type: none;
}

li a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(142, 166, 233);
  text-decoration: none;
  text-align: center;
  padding: 10px 15px;
  opacity: 0.6;
}

li a:hover {
  background-color: cyan;
  color: black;
  transition: 0.7s;
  box-shadow: 0px 0px 20px 5px purple; 
  border-radius: 50px;
  
}

/* Coming Soon Styling */
#comingSoon {
  height: 800px;
  width: 1000px;
  background: url("/images/comingsoon.gif") black center;
  background-repeat: no-repeat;
}

.aboutPage {
  
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-title {
  font-family: "Game Of Squids", Arial, sans-serif;
  color: rgb(142, 166, 233);
  font-size: 5em;
  margin-bottom: 40px;
  text-shadow: 6px 2px 5px rgb(98, 11, 124);
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .main-title {
    font-size: 3em;
    text-align: center;
  }
  

  #homeNav {
    font-size: 1.2em;
  } 

  
}

@media screen and (max-width: 375px) {
  .main-title {
    font-size: 2rem;
  }

  #homeNav {
    font-size: 1em;
    gap: px;
  }
  
  li a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(142, 166, 233);
  text-decoration: none;
  text-align: center;
  padding: 10px; 
  opacity: 0.6;
}
}