/* Add Custome Font Here */
/* @font-face ??? */
/* Specify a custom font */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "Game Of Squids";
  src: url("./assets/Game Of Squids.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

main h1 {
  /* font family? */
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  font-family: "Game Of Squids", Arial, sans-serif;
  color: cyan;
  margin-top: 0;
  padding-top: 60px;
  font-size: 4em;
  display: flex;
  justify-content: center;
  text-align: center;
}

#homePage {
  height: 100vh;
  width: 100vw;
  color: white;
  background: url("/images/gamer.gif") black center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  position: relative;
}

.footerNav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}
#homeNav {
  /* font-family:'Courier New', Courier, monospace; */
  font-size: 2em;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: black;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

li a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #df0024;
  text-decoration: none;
  text-align: center;
  padding: 10px 15px;
}

li a:hover {
  background-color: #f3c300;
  color: black;
  transition: 0.7s;
  box-shadow: 5px 5px 20px white;
  border-radius: 50px;
}

/* Coming Soon Styling */
#comingSoon {
  display: none;
}

.aboutPage {
  height: 100vh;
  width: 100vw;
  background: url("/images/comingsoon.gif") black center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.aboutPage h1 {
  font-family: "Game Of Squids", Arial, sans-serif;
  color: rgb(142, 166, 233);
  font-size: 4em;
  margin-bottom: 40px;
  text-shadow: 6px 2px 5px rgb(98, 11, 124);
  opacity: 0.8;
  text-align: center;
}

/* Shop Page Styling */
.shop-page {
  min-height: 100vh;
  width: 100vw;
  background: url("/images/valenberg.gif") black center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

.shop-page h1 {
  font-family: "Game Of Squids", Arial, sans-serif;
  color: rgb(142, 166, 233);
  margin-top: 0;
  padding-top: 60px;
  font-size: 9rem;
  display: flex;
  justify-content: center;
  text-shadow: 6px 2px 5px rgb(98, 11, 124);
  opacity: 0.8;
}

/* Contact Page Styling */
.contact-page {
  min-height: 100vh;
  width: 100vw;
  background: url("/images/crazy.gif") black center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

.contact-page h1 {
  font-family: "Game Of Squids", Arial, sans-serif;
  color: rgb(142, 166, 233);
  margin-top: 0;
  padding-top: 60px;
  font-size: 9em;
  display: flex;
  justify-content: center;
  text-shadow: 6px 2px 5px rgb(98, 11, 124);
  opacity: 0.8;
  text-align: center;
}

@media screen and (max-width: 768px) {

  .aboutPage h1 {
  font-family: "Game Of Squids", Arial, sans-serif;
  color: rgb(142, 166, 233);
  font-size: 2em;
  margin-bottom: 40px;
  text-shadow: 6px 2px 5px rgb(98, 11, 124);
  opacity: 0.8;
}
  
.contact-page h1{
  font-size: 4rem;
  text-align: center;
}
.shop-page h1{
  font-size: 4rem;
  text-align: center;
}


}